* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  color: #2e2e2e;
  font-family: Roboto, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #f0f2f5;
  border-radius: 18px;
  box-shadow: 5px 5px 5px #c8d0e7, -5px -5px 5px #ffffff;
  display: flex;
  width: 1200px;
  justify-content: space-between;
}

.main-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px 20px;
  text-align: center;
  border-bottom: 2px solid #f26419;
}

header h1 {
  color: #2e2e2e;
  margin-left: 10px;
}

.logo-img {
  width: 4rem;
  height: 4rem;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

#input-box, #result-box{
  display: flex;
  flex-direction: column;
 justify-content: center;
 align-items: center;
}

#text-input {
  width: calc(100% - 5%);
  padding: 12px;
  margin: 20px 0;
  background-color: #f0f2f5;
  color: #2e2e2e;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  box-shadow: inset 3px 3px 7px #c8d0e7, inset -7px -7px 14px #ffffff;
}

#text-input:focus {
  outline: none;
}

#text-input::placeholder {
  padding-left: 20px;
}

#button-box {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.input-buttons{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.button-input, #copy-button  {
 padding: 15px 30px;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(to top,#f26419, #F6A02D );
  color: #f0f2f5;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 7px #c8d0e7, -7px -7px 7px #ffffff;
}

.button-crypt {
  padding: 15px 30px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f0f2f5;
  color: #f26419;
  margin: 0 10px;
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 7px #c8d0e7, -7px -7px 7px #ffffff;
}

.button-crypt:hover {
  background-color: #e0e0e0;
}

h3 {
  margin-top: 20px;
  font-size: 20px;
  max-height: 100px;
  overflow: auto;
   background-color: #f0f2f5;
  border-radius: 18px;
  box-shadow: 5px 5px 5px #c8d0e7, -5px -5px 5px #ffffff;
  padding: 25px;
}

.cat-img {
  width: 550px;
  height: auto;
  border-radius: 0 18px 18px 0;
  box-shadow: 10px 10px 20px #c7c7c7, -10px -10px 20px #ffffff;
}



